<h1 class="col-4 offset-4">
  NEW GAME!!!
</h1>

<div class="col-8 offset-2">
  <%= simple_form_for @game do |f| %>
  <%= f.input :name, label: 'Room Name:' %>
  <% f.input :white_player_id, :input_html => { :value => current_user.id }, label: false, disabled: true %> 
  <%= f.submit "Create" %>
<% end %>
</div>