<table class="chessboard">
    <% (0..7).each do |row_index| %>
        <tr class="chessboard">
        <% (0..7).each do |column_index| %>
            <td class="chessboard">
                <% @game.pieces.each do |piece| %>
                    <% if piece.x_position == column_index && piece.y_position == row_index %>
                        <%= piece.piece_type.html_safe  %>
                    <% end %>
                <% end %>
            </td>
        <% end %>
        </tr>
    <% end %>
</table>


<h2 class="text-center">

<%= link_to "DESTROY THIS GAME", game_path, :method=> :delete, :class=>"btn btn-danger btn-lg" %>

</h2>
