<table class="chessboard">
    <% (0..7).reverse_each do |row_index| %>
        <tr class="chessboard">
        <% (0..7).each do |column_index| %>
            <td class="chessboard">
                <% @game.pieces.each do |piece| %>
                    <div class="chosen">
                        <% if piece.x_position == column_index && piece.y_position == row_index %>
                            <%= piece.piece_type  %>
                        <% end %>
                    </div>
                <% end %>
            </td>
        <% end %>
        </tr>
    <% end %>
</table>



<h2 class="text-center">

<%= link_to "DESTROY THIS GAME", game_path, :method=> :delete, :class=>"btn btn-danger btn-lg" %>

</h2>

<script type='text/javascript'>
  $( function() {
      $( ".chosen" ).draggable({
          revert: "invalid",
          });
  });

  $( function() {
      $( "td.chessboard").droppable({
          drop: function( event, ui ) {
              piece_id = ui.draggable.data('piece-id')
              x_position = $(this).data('column_index')
              y_position = $(this).data('row_index')
              $.ajax({
                url: `/pieces/${piece_id}?x_position=${x_position}&y_position=${y_position}`,
                type: 'PUT'
              });
          }
      });
  });
  </script>