@import "bootstrap";

@media only screen and (max-width: 991px) {
  .gameboard {
    margin-left: auto;
    margin-right: auto;
  }
}

.my-btn {
  background-color: black;
  width: 25%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.my-btn2 {
  background-color: red;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: white;
  box-shadow: 0px 1px 3px #2a2a2a;


}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;

}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('squares.png');
}

#forfeit_loser {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 2px;
  color: red;  
}

#destroyed {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 2px;
  color: red;  
}


.list-group-item {
  background: image_url('chest.jpg')no-repeat center center;
  background-size: center;
  background-position: center

  
}
.list-group-item a {
  color: #F4FAF9;
}
.list-group-item a:hover {
  text-decoration: none;
  color: #F4FAF9;
}

.white {
  background-color: #f1f1ed;
  width: 5vw;
  height: 5vw;
}
.white a:hover {
  text-decoration: none;
}

.black {
  background-color: #BEBDB8;
  width: 5vw;
  height: 5vw;
}

.black a:hover {
  text-decoration: none;
}

.piece {
  height: 100%;
  width: 100%;
}

.piece2 { 
  height: 100%;
  width: 100%;
}

hr {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}


.surrendered {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(240, 240, 245, 0.5);
}

.game-state-message {
  color: red;
  line-height: 5px;
  margin: 0;
  padding: 0;
}

.captured {
  width: 4vw;
  height: 4vw;
}

.deliver-message {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 25%;
  text-align: center;
}

.player-one {
  
}

.player-two {
  
}

.btn-secondary {
  margin: 5px;
}

.your-turn {
  background-color: green;
}

.not-your-turn {
  background-color: grey;  
}


#forfeit_winner {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 2px;
  color: green;  
}

.center-text{
text-align: center;
  
}