@import "bootstrap";

.my-btn {
  background-color: black;
  width: 25%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.my-btn2 {
  background-color: red;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: white;
  box-shadow: 0px 1px 3px #2a2a2a;


}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;

}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('squares.png');
}
